@import "tailwindcss";

:root {
  --background: #db3434;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 100vw;
  border: 1px solid rgb(0, 0, 0);
}

.container_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  overflow: visible;
  width: 250px;
  height: auto;
  position: relative;
  display: block;
}

.main-image {
  position: relative; 
  z-index: 2;
  width: 100%;
  height: auto;
}

.background-image {
  overflow: visible;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 1;
  width: 110%;
  height: 110%;
  object-fit: cover;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #ededed;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description {
  margin-top: -5px;
  color: #ededed;
  font-size: 1rem;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  margin-top: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #db3434;
  background-color: #ededed;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10rem;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .container_two {
    margin-left: 30px;
    align-items: flex-start;
  }
  .image {
    width: 60%;
    max-width: 400px;
    height: auto;
  }
  .title {
    font-weight: 900;
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
  .container_two {
    margin-left: 50px;
    align-items: flex-start;
  }
  .image {
    width: 45%;
    max-width: 550px;
    height: auto;
  }
  .title {
    font-weight: 900;
    font-size: 3.5rem;
  }
  .description {
    font-size: 1.5rem;
  }
}

